<h1>New Project</h1>
<%= form_for @project do |f| %>
  <p>
    Name: <%= f.text_field :name %>
  </p>

  <%= select_tag "quantity", options_for_select((1..4),1), :onchange => 'changed(this)' %>

  <% 4.times do |i| %>
    <%= f.fields_for :tasks, Task.new do |task_form| %>
      <p id="<%= i.to_s %>">
          Task: <%= task_form.text_field :name %>
      </p>
    <% end %>
  <% end %>
  <p>
    <%= f.submit 'Create Project' %>
  </p>
<% end %>

<script>

  for (var i = 0; i < 3; i++) {
    document.getElementById(i.toString()).style.display = 'none';
  }

  function changed(sel) {
    var taskNum = sel.options[sel.selectedIndex].value;
    for (var i = 3; i >= 0; i--) {
      if (taskNum <= i) {
        document.getElementById(i.toString()).style.display = 'none';
      } else {
        document.getElementById(i.toString()).style.display = 'block';
      }
    }
  }
</script>
